@import url("https://fonts.googleapis.com/css2?family=Anybody&family=Genos:ital,wght@0,200;0,400;1,600&family=Texturina:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  background-color: #000000;
  min-height: 65px;
}

.navbar-brand img {
  width: 50px;
  object-fit: cover;
  transition: 0.3s;
}
.navbar-brand img:hover {
  width: 60px;
}

.nav-item {
  gap: 5px;
}

.nav-link {
  color: rgba(238, 238, 238, 0.9333333333);
  font-size: 24px;
  text-align: center;
  border: 3px solid #584d4d;
  padding: 5px;
  background-color: #000000;
  transition: 0.3s;
}
.nav-link:hover {
  background-color: rgba(238, 238, 238, 0.9333333333);
  color: #000000;
  font-size: 28px;
}

footer {
  background-color: #100f0f;
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div {
  height: 100px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-div p {
  color: #eeeeee;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.footer-div__logoig img {
  height: 40px;
  object-fit: cover;
}

.logowsp img {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 10px;
  right: 10px;
}

.main-contacto {
  background-image: url("../assets/images/NuevaYork/NY9-min.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 500px;
}
.main-contacto section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 100%;
  height: 500px;
}

.form div {
  gap: 10px;
  background-color: #eeeeee;
  padding: 8px;
}

.form input {
  width: 100%;
  height: 35px;
  font-size: 16px;
}

.input-fijo {
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
  background-color: #718c76;
}

.caja {
  width: 80%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.caja:hover {
  background-color: #519fd3;
  box-shadow: 5px 5px 5px 0px #7e7e7e;
}
.caja img {
  width: 60%;
  transition: 0.5s;
}
.caja img:hover {
  width: 50%;
}

.caja:nth-child(even) {
  background-color: #786a86;
  flex-direction: row-reverse;
}
.caja:nth-child(even):hover {
  background-color: rgb(255, 158, 89);
}

.caja_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.caja_content p {
  text-align: left;
  color: #2d2a2a;
  font-size: 20px;
  margin: 5px;
}
.caja_content h2 {
  font-size: 30px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}
.caja_content ul {
  text-align: left;
  margin: 20px;
}
.caja_content li {
  list-style-type: square;
  color: #2d2a2a;
  font-size: 20px;
}

.carusel, .galeria {
  background-color: #d4cbcb;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.carusel__arti, .galeria__ig {
  width: 25%;
  background-color: #c1a187;
  padding: 10px;
  margin: 10px;
}

.title-galeria {
  background-color: #ffffff;
  text-align: center;
  justify-content: center;
}
.title-galeria h2 {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: #191919;
  font-weight: bold;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.carousel-inner {
  display: flex;
  width: 100%;
  align-self: center;
  justify-self: center;
  padding: 10px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.galeria__reels__links {
  width: 100%;
  height: 550px;
}
.galeria__reels__links video {
  width: 100%;
  height: 550px;
}

.galeria__reels__publi {
  width: 100%;
  height: 550px;
}
.galeria__reels__publi iframe {
  width: 100%;
  height: 550px;
}

.port {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  text-align: center;
  background-color: #e2c1c1;
  width: 100%;
  height: 55px;
}
.port h2 {
  font-size: 28px;
  text-align: center;
  color: #2d3b3a;
  font-weight: bold;
  padding: 10px;
  transition: 0.3s;
}
.port h2:hover {
  font-size: 32px;
}

.grilla-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3" "area4 area2 area5";
  background-color: rgba(82, 84, 103, 0.5647058824);
  padding: 10px;
  width: 100%;
}
.grilla-logos__grilla-logo {
  width: 85%;
  align-self: center;
  justify-self: center;
  padding: 5px;
}
.grilla-logos__grilla-logo img {
  width: 100%;
  height: 140;
  object-fit: cover;
  border: 5px solid antiquewhite;
  border-radius: 5px;
}

.l1 {
  grid-area: area1;
}

.p1 {
  grid-area: area1;
}

.f1 {
  grid-area: area1;
}

.l2 {
  grid-area: area2;
}

.p2 {
  grid-area: area2;
}

.f2 {
  grid-area: area2;
}

.l3 {
  grid-area: area3;
}

.p3 {
  grid-area: area3;
}

.f3 {
  grid-area: area3;
}

.l4 {
  grid-area: area4;
}

.p4 {
  grid-area: area4;
}

.l5 {
  grid-area: area5;
}

.p5 {
  grid-area: area5;
}

.p6 {
  grid-area: area6;
}

.p7 {
  grid-area: area7;
}

.p8 {
  grid-area: area8;
}

.grilla-productos {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3" "area1 area2 area3" "area4 area5 area6" "area7 area5 area8";
  background-color: #55b49c;
  padding: 10px;
  gap: 10px;
}
.grilla-productos__grilla-producto {
  width: 85%;
  justify-self: center;
  align-self: center;
  padding: 10px;
}
.grilla-productos__grilla-producto img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 5px solid antiquewhite;
  border-radius: 10px;
}

.grilla-films {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3";
  background-color: #539f58;
  padding: 10px;
  gap: 10px;
}
.grilla-films__grilla-film {
  width: 85%;
  justify-self: center;
  align-self: center;
  padding: 15px;
}
.grilla-films__grilla-film img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 5px solid antiquewhite;
  border-radius: 10px;
}

.caja-inicio {
  background-color: #6e4b28;
  text-align: center;
  width: 100%;
}
.caja-inicio__cajita {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.caja-inicio__cajita video {
  width: 50%;
  height: 300px;
  margin: 10px;
}
.caja-inicio__cajita div {
  width: 40%;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  gap: 30px;
}
.caja-inicio__cajita div h1 {
  font-size: 30px;
  text-align: center;
  color: #f7f5f3;
  font-weight: bold;
}
.caja-inicio__cajita div a {
  font-size: 20px;
  text-align: none;
  color: #ffffff;
  font-weight: none;
  border: 2px solid #000000;
  padding: 10px;
  align-self: flex-end;
  transition: 0.3s;
}
.caja-inicio__cajita div a:hover {
  font-size: 22px;
}

.cards {
  background-color: #d4cbcb;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
}
.cards__card-body {
  width: 25%;
  background-color: #c1a187;
  padding: 10px;
  margin: 10px;
}
.cards__card-body img {
  width: 100%;
  height: 150;
  object-fit: cover;
}
.cards__card-body h2 {
  font-size: 30px;
  text-align: center;
  color: #19191b;
  font-weight: bold;
}

.colaboraciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 100%;
  background-color: #191919;
}
.colaboraciones__samsung {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 5px;
}
.colaboraciones__samsung div h2 {
  font-size: 30px;
  text-align: center;
  color: #191919;
  font-weight: none;
  transition: 0.3s;
}
.colaboraciones__samsung div h2:hover {
  font-size: 25px;
  color: #f7f5f3;
}
.colaboraciones__samsung div h2 a {
  color: #f7f5f3;
  text-decoration: none;
  transition: 0.3s;
}
.colaboraciones__samsung div h2 a:hover {
  font-size: 25px;
  color: #59cee6;
}
.colaboraciones__samsung__imagenes {
  width: 300px;
  height: 400px;
  margin: 5px;
}
.colaboraciones__samsung__imagenes img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.colaboraciones__samsung__imagenes video {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 550px) {
  .caja-inicio__cajita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .caja-inicio__cajita div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .caja-inicio__cajita video {
    display: none;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cards__card-body {
    width: 100%;
    background-color: #bd3e3e;
    padding: 10px;
    margin: 10px;
  }
  .colaboraciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .colaboraciones__samsung {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .exp {
    padding: 10px;
    gap: 5px;
  }
  .caja {
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: none;
  }
  .caja img {
    width: 100%;
  }
  .caja_content {
    align-items: center;
    gap: 10px;
  }
  .caja_content p {
    text-align: left;
  }
  .caja_content h2 {
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-weight: bold;
  }
  .caja_content ul {
    margin: 5px;
  }
  .caja:nth-child(even) {
    display: none;
  }
  .title-galeria h2 {
    font-size: 20px;
    text-align: center;
    color: #191919;
    font-weight: bold;
  }
  .carusel, .galeria {
    flex-direction: column;
  }
  .carusel__arti, .galeria__ig {
    width: 100%;
  }
}
@media screen and (max-width: 865px) {
  .caja:nth-child(even) {
    display: block;
  }
  .exp {
    padding: 5px;
    gap: 5px;
  }
  .caja {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .caja img {
    width: 100%;
  }
  .colaboraciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
  }
  .colaboraciones__samsung {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .carusel, .galeria {
    flex-direction: column;
  }
  .carusel__arti, .galeria__ig {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .carusel, .galeria {
    flex-direction: column;
  }
  .carusel__arti, .galeria__ig {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
