.exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: #718c76;
}

.caja{
    width: 80%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
    &:hover{
    background-color: #519fd3;
    box-shadow: 5px 5px 5px 0px  #7e7e7e;
    }
    img {
    width: 60%;
    transition: 0.5s;
    &:hover{
    width: 50%;
    }
}
}
.caja:nth-child(even){
    background-color: #786a86;
    flex-direction: row-reverse;
    &:hover{
        background-color: rgb(255, 158, 89);
    }
}
.caja_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    p{
        text-align: left;
        color: #2d2a2a;
        font-size: 20px;
        margin: 5px;

    }
    h2{
        @include titulo(30px,center,#000000,bold);
        align-self: center;
        justify-self: center;
    }
    ul{
        text-align: left;
        margin: 20px;
    }
    li{
        list-style-type:square;
        color: #2d2a2a;
        font-size: 20px;

    }
}
