.carusel{
    background-color: #d4cbcb;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;

    &__arti{
        width: 25%;
        background-color: #c1a187;
        padding: 10px;
        margin: 10px;
    }
}


.title-galeria{
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    h2{
        text-align: center;
        padding: 10px;
        font-size: 30px;
        font-weight:bold;
    }
    
}
.carousel{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.carousel-inner{
    display: flex;
    width: 100%;
    align-self: center;
    justify-self: center;
    padding: 10px;
}
.carousel-item img{
    object-fit: cover;
    height: 500px;
    width: 100%;
}

.galeria{
    @extend .carusel;
    &__ig{
        @extend .carusel__arti;
    }
}

.galeria__reels__links{
    width: 100%;
    height: 550px;
    video{
        height: 550px;
        width: 100%;
    }
}
.galeria__reels__publi{
    width: 100%;
    height: 550px;
    iframe{
        width: 100%;
        height: 550px;
    }
}