.caja-inicio {
    background-color: #6e4b28;
    text-align: center;
    width: 100%;

    &__cajita{
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
    video{
        width: 50%;
        height: 300px;
        object-fit: cover;
        margin: 10px;
    }
    div{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 5px;
        gap: 30px;
    }
    div h1{
        font-size: 30px;
        text-align: center;
        color: #f7f5f3;
        font-weight: bold;
    }
    div a{
        color: #ffffff;
        font-size: 20px;
        border: 2px solid #000000;
        padding: 10px;
        align-self: flex-end;
        transition: 0.3s;
        &:hover{
            font-size: 22px;
        }
    }
    }
}
.cards{
    background-color: #d4cbcb;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    &__card-body{
        width: 25%;
        background-color: #c1a187;
        padding: 10px;
        margin: 10px;
        img{
            width: 100%;
            height: 150;
            object-fit: cover;
        
        }
        h2 {
            color: #19191b;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }
        
    }
    
}
.colaboraciones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #191919;
    &__samsung{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px;
    text-align: center;
    gap: 20px;
        div h2{
            font-size: 30px;
            text-align: center;
            color: #191919;
            transition: 0.3s;
            &:hover{
                font-size: 25px;
                color: white;
            }
        }
        div h2 a{
            color: white;
            text-decoration: none;
            transition: 0.3s;
            &:hover{
                font-size: 25px;
                color: #59cee6
            }
        }
        &__imagenes{
            width: 300px;
            height: 400px;
            margin: 5px;
            img{
            align-items: center;
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        video{
            width: 100%;
            height: 400px;
        }
        }
    }
}