.caja-inicio {
    background-color: #6e4b28;
    text-align: center;
    width: 100%;

    &__cajita{
        @include flex (row,center,center,5px);
    video{
        @include video (50%,300px);
        margin: 10px;
    }
    div{
        width: 40%;
        text-align: center;
        padding: 5px;
        @include flex (column,space-between,none,30px);
    h1{
        @include titulo(30px,center,#f7f5f3, bold);
    }
        a{
        @include titulo(20px,none,#ffffff,none);
        border: 2px solid #000000;
        padding: 10px;
        align-self: flex-end;
        transition: 0.3s;
        &:hover{
            font-size: 22px;
        }
    }
    }

    }
}
.cards{
    background-color: #d4cbcb;
    padding: 30px;
    @include flex(row,center,none,none);
    &__card-body{
        width: 25%;
        background-color: #c1a187;
        padding: 10px;
        margin: 10px;
        img{
            @include img(100%,150,cover);
        
        }
        h2 {
            @include titulo(30px,center,#19191b,bold);
        }
        
    }
    
}
.colaboraciones{
    @include flex(row,center,center,none);
    width: 100%;
    background-color: #191919;
    &__samsung{
    @include flex(row,center,center,20px);
    width: 100%;
    margin: 5px;
    
        div h2{
            @include titulo(30px,center,#191919,none);
            transition: 0.3s;
            &:hover{
                font-size: 25px;
                color: #f7f5f3;
            }
        }
        div h2 a{
            color: #f7f5f3;
            text-decoration: none;
            transition: 0.3s;
            &:hover{
                font-size: 25px;
                color: #59cee6
            }
        }
        &__imagenes{
            width: 300px;
            height: 400px;
            margin: 5px;
            img{
                @include img(100%,400px,cover);
        }
        video{
            @include video (100%,400px);
        }
        }
    }
}