@media screen and (max-width:550px){
    .caja-inicio__cajita{
        @include flex (column,center,center,5px);
        div{
            width: 100%;
            @include flex (column,center,center,10px)
        }
        video{
        display:none;
        }
    }
    .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__card-body{
        width: 100%;
        background-color: #bd3e3e;
        padding: 10px;
        margin: 10px;
    }
    }
    
    .colaboraciones{
        @include flex(column,center,center,none);
        &__samsung{
            @include flex(column,center,center,20px);
        }
    }
}

.carusel{
    @include flex(column,center,center,5px);
    &__arti{
        width: 100%;
    }
}

.carousel{
    @include flex(column,center,center,10px);
}
.carousel-inner{
    flex-direction: column;
}

.galeria__reels__links{
    @include video(100%,900px);
    video{
    @include video(100%,900px);
    }
}
.galeria__reels__publi{
    @include video(100%,900px);
    iframe{
        @include video(100%,900px);
    }
}
.title-galeria h2{
    @include titulo(20px,center,#191919,bold);
}
.exp {
    padding: 10px;
    gap: 5px;
}
.caja{
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: none;
    img{
        width: 100%;
    }
}
.caja_content{
    align-items: center;
    gap: 10px;
    p{
        text-align: left;
    }
    h2{
        @include titulo(20px,center,#000000,bold);
    }
    ul{
        margin:5px;
    }
}
.caja:nth-child(even){
    display: none;
}


@media screen and (max-width:865px){
    .caja:nth-child(even){
        display: block;
    }
    .caja{
        width: 70%;
    }
    .colaboraciones{
        @include flex(column,center,center,none);
        &__samsung{
            @include flex(column,center,center,20px);
        }
    }
}
    @media screen and (max-width:1200px){
        .caja:nth-child(even){
            display: block;
        }
        .caja{
            width: 80%;
    }
    }








