.port{
    display: flex;
    background-color: #e2c1c1;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    h2{
        text-align: center;
        padding: 10px;
        font-size: 28px;
        font-weight:bold;
        transition: 0.3s;
        color: #2d3b3a;
        &:hover{
            font-size: 32px;
        }
    }
}
.grilla-logos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'area1 area2 area3'
    'area4 area2 area5';
    background-color: #52546790;
    padding: 10px;
    width: 100%;

    &__grilla-logo{
        width: 85%;
        align-self: center;
        justify-self: center;
        padding: 5px;
        
        img{
            width: 100%;
            height: 140;
            object-fit: cover;
            border: 5px solid antiquewhite;
            border-radius: 5px;
        }
        
    }
    
}
.l1{
    grid-area: area1;
}
.p1{
    grid-area: area1;
}
.f1{
    grid-area: area1;
}
.l2{
    grid-area: area2;
}
.p2{
    grid-area: area2;
}
.f2{
    grid-area: area2;
}
.l3{
    grid-area: area3;
}
.p3{
    grid-area: area3;
}
.f3{
    grid-area: area3;
}
.l4{
    grid-area: area4;
}
.p4{
    grid-area: area4;
}
.l5{
    grid-area: area5;
}
.p5{
    grid-area: area5;
}
.p6{
    grid-area: area6
}
.p7{
    grid-area: area7
}
.p8{
    grid-area: area8
}
.grilla-productos{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'area1 area2 area3'
    'area1 area2 area3'
    'area4 area5 area6'
    'area7 area5 area8'
    ;
    background-color: #55b49c;
    padding: 10px;
    gap: 10px;

    &__grilla-producto{
        width: 85%;
        justify-self: center;
        align-self:center ;
        padding: 10px;
        
        img{
            height: 500px;
            object-fit: cover;
            width: 100%;
            border: 5px solid antiquewhite;
            border-radius: 10px;
        }
        
    }
}
.grilla-films{
    display: grid;
        grid-template-columns: repeat(3,3fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'area1 area2 area3'
        ;
        background-color: #539f58;
        padding: 10px;
        gap: 10px;

        &__grilla-film{
        width: 85%;
        justify-self: center;
        align-self: center;
        padding: 15px;
            img {
            height: 500px;
            object-fit: cover;
            width: 100%;
            border: 5px solid antiquewhite;
            border-radius: 10px;
            
            }
        }
        
    }
    