footer {
    background-color: #100f0f;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-div{
    height: 100px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        color: #eeeeee;
        font-size: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
    &__logoig img{
    height: 40px;
    object-fit: cover;
}
}

    .logowsp img{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 10px;
    right: 10px
    }

