header{
    background-color:#000000;
    min-height: 65px;
}

.navbar-brand img{
    width: 50px;
    object-fit: cover;
}

.nav-item {
    gap: 5px;
}
.nav-link{
    color:#eeee;
    font-size: 24px;
    text-align: center;
    border:3px solid #584d4d;
    padding: 5px;
    background-color: #000000;
    transition: 0.3s;
    &:hover{
        background-color: #eeee;
        color:#000000;
        font-size: 28px;
    }
}
